body{
    background: linear-gradient(to right, #db658a, #035c7c);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}